<div class="row row-max-3">

    <a class="card card-course" href="/courses/docker">
        <div class="card-content">
            <div class="text-center"><img src="/courses/docker/img/featured.jpg"></div>
            <h3>The Docker Project Course</h3>
            Build a docker web/mobile application

            <button class="btn btn-purple btn-block">Start</button>
        </div>
    </a>

    <a class="card card-course" href="/courses/mongodb">
        <div class="card-content">
            <div class="text-center"><img src="/courses/mongodb/img/featured.jpg"></div>
            <h3>MongoDB Course</h3>
            Build a docker web/mobile application with MongoDB

            <button class="btn btn-purple btn-block">Start</button>
        </div>
    </a>


<!-- </div> -->

<!-- <div class="row-max-2"> -->

    <a class="card card-course" href="/courses/mongodb">
        <div class="card-content">
            <div class="text-center"><img src="/courses/mongodb/img/featured.jpg"></div>
            <h3>MongoDB Course</h3>
            Build a docker web/mobile application

            <button class="btn btn-purple btn-block">Start</button>
        </div>
    </a>

    <a class="card card-course" href="/courses/docker">
        <div class="card-content">
            <div class="text-center"><img src="/courses/docker/img/featured.jpg"></div>
            <h3>The Docker Project Course</h3>
            Build a docker web/mobile application
            <button class="btn btn-purple btn-block">Start</button>
        </div>
    </a>


</div>