{{ define "main"}}

<div class="home-hero course-description">

  <div  class="hero-content">
    <h1>Learn software engineering <span class="gradient-text">faster</span></h1>
    <p class="text-lg">
      GuruCodes is a <code class="hi-gradient">drug</code> for developers who want to
      <strong class="text-contrast">learn software engineering</strong>.      
      
    </p>

    <p class="hero-buttons">
      <a class="btn btn-orange-outline" href="/lessons">Free Lessons</a>      
      <a class="btn btn-green-outline" href="/courses">PRO Courses</a>  
    </p>

  </div>

  <div class="vid hero-vid">
    <img src="/img/hero-image.webp" alt="hero image">
    <!-- <iframe src="https://player.vimeo.com/video/599890291" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
  </div> 
</div>

<hr />
<h2 class="text-center home-heading course-description">New Courses</h2>
<h4 class="home-sub-heading text-center course-description">Brand New Courses and Updates Every Month</h4>
<div class="row course-description">

  <a class="card card-course" href="/courses/docker">
    <div class="card-content">
        <div class="text-center"><img src="/courses/docker/img/featured.jpg"></div>
        <h3>The Docker Project Course</h3>
        Build a docker web/mobile application with Ionic 4, Angular & Firebase

        <button class="btn btn-green btn-block">Start</button>
    </div>
  </a>


  <a class="card card-course" href="/courses/mongodb">
    <div class="card-content">
        <div class="text-center"><img src="/courses/mongodb/img/featured.jpg"></div>
        <h3>MongoDB Course</h3>
        Build a docker web/mobile application with MongoDB

        <button class="btn btn-green btn-block">Start</button>
    </div>
  </a>


</div>

<hr class="course-description"/>
<h2 class="text-center home-heading course-description">Learn by Doing</h2>
<h4 class="home-sub-heading text-center course-description">Fast, efficient, project-based video courses</h4>
<div class="row course-description">


  <a class="card card-course" href="/courses/mongodb">
    <div class="card-content">
        <div class="text-center"><img src="/courses/mongodb/img/featured.jpg"></div>
        <h3>MongoDB Course</h3>
        Build a docker web/mobile application with MongoDB

        <button class="btn btn-green btn-block">Start</button>
    </div>
  </a>

  <a class="card card-course" href="/courses/docker">
    <div class="card-content">
        <div class="text-center"><img src="/courses/docker/img/featured.jpg"></div>
        <h3>The Docker Project Course</h3>
        Build a docker web/mobile application with Ionic 4, Angular & Firebase

        <button class="btn btn-green btn-block">Start</button>
    </div>
  </a>


</div>


<hr />

<h2 class="text-center home-heading">Modern Fullstack</h2>
<h4 class="home-sub-heading text-center">Develop faster with scalable cloud infrastructure</h4>

<div class="row course-description">
  <a class="card card-course" href="/courses/docker">
    <div class="card-content">
        <div class="text-center"><img src="/courses/docker/img/featured.jpg"></div>
        <h3>The Docker Project Course</h3>
        Build a docker web/mobile application with Ionic 4, Angular & Firebase

    </div>
  </a>

<a class="card card-course" href="/courses/docker">
  <div class="card-content">
      <div class="text-center"><img src="/courses/docker/img/featured.jpg"></div>
      <h3>The Docker Project Course</h3>
      Build a docker web/mobile application with Ionic 4, Angular & Firebase

  </div>
</a>
</div> 

<hr />

<h2 class="text-center home-heading">New to Docker?</h2>
<h4 class="home-sub-heading text-center">Learn the basics in 25 minutes 👇</h4>

<div class="row course-description">
  <a class="card card-course" href="/courses/docker">
    <div class="card-content">
        <div class="text-center"><img src="/courses/docker/img/featured.jpg"></div>
        <h3>The Docker Project Course</h3>
        Build a docker web/mobile application with Ionic 4, Angular & Firebase

    </div>
</a>

</div>


<div class="text-center row-home">
<a href="/courses" class="btn btn-green text-center btn-lg">All Courses</a>
</div>

<h2 class="text-center home-heading">💖 Loved by Developers since 2017</h2>
<hr>


<!-- <h2 class="text-center home-heading">Testimonials</h2>
<h4 class="home-sub-heading text-center">Accept payments and build your business</h3> -->

<!-- <h4 class="home-sub-heading text-center">"I have a job thanks to you"</h3> -->

  <!-- <div class="text-center">
    <img src="/img/testimonial.png" alt="Testimonials for gurucodes.io code tutorials">
  </div> -->


<!-- <div class="tweet-grid">

  <div>
    <div class="tweet-card">
      <div class="tweet-icon">
          {{ partial "svg/twitter.svg" }}
      </div>
      <div class="tweet-user">
          <img src="/img/testimonial/david-east.jpg">
          <div class="tweet-details">
              <div class="tweet-name">David East</div>
              <div class="tweet-handle">@_davideast</div>
          </div>
      </div>
      <div class="tweet-content">
        The most concise and frequent YouTube channel for Firebase and general Web development videos. Subscribe if you haven't, <span class="hi">you won't be disappointed 🔥</span>
      </div>
    </div>

    <div class="tweet-card">
      <div class="tweet-icon">
          {{ partial "svg/twitter.svg" }}
      </div>
      <div class="tweet-user">
          <img src="/img/testimonial/adam-wathan.jpg">
          <div class="tweet-details">
              <div class="tweet-name">Adam Wathan</div>
              <div class="tweet-handle">@adamwathan
              </div>
          </div>
      </div>
      <div class="tweet-content">
        Wow, what an awesome @tailwindcss intro video by @gurucodes_dev 🤩

        <br />
        <br />
        
        Covers <span class="hi">way more than I ever imagined</span> you could cover in 100 seconds 🤯
      </div>
    </div>

  </div>

  <div>
    <div class="tweet-card">
      <div class="tweet-icon">
          {{ partial "svg/twitter.svg" }}
      </div>
      <div class="tweet-user">
          <img src="/img/testimonial/ema.jpg">
          <div class="tweet-details">
              <div class="tweet-name">Ema</div>
              <div class="tweet-handle">@emabytes</div>
          </div>
      </div>
      <div class="tweet-content">
        I know you probably have a list, but if you had to pick <span class="hi">just one favourite</span> coding related YouTube channel, what would it be? 
        <br />
        <br />

        🍒🤓

        <br />
        <br />

        <span class="hi">I pick brilliant @gurucodes_dev</span>
      </div>
    </div>

    <div class="tweet-card">
      <div class="tweet-icon">
          {{ partial "svg/twitter.svg" }}
      </div>
      <div class="tweet-user">
          <img src="/img/testimonial/samantha.jpg">
          <div class="tweet-details">
              <div class="tweet-name">Samantha Ming</div>
              <div class="tweet-handle">@samantha_ming</div>
          </div>
      </div>
      <div class="tweet-content">
        @gurucodes_dev is a beast! His 100 seconds series is 🔥
      </div>
    </div>

  </div>

  <div>

    <div class="tweet-card">
      <div class="tweet-icon">
          {{ partial "svg/twitter.svg" }}
      </div>
      <div class="tweet-user">
          <img src="/img/testimonial/ugo.jpg">
          <div class="tweet-details">
              <div class="tweet-name">Ugo</div>
              <div class="tweet-handle">@Nelsonweze</div>
          </div>
      </div>
      <div class="tweet-content">
        If I am a developer today, it's because of @Jeffdelaney23's tutorial videos on his channel @gurucodes_dev. Found him in 2017 for Angular+Firebase. When I moved to #Flutter, he still was there. #ML and <span class="hi">I'm still watching his videos</span>. Thanks a lot Jeff!
      </div>
    </div>

    <div class="tweet-card">
      <div class="tweet-icon">
          {{ partial "svg/twitter.svg" }}
      </div>
      <div class="tweet-user">
          <img src="/img/testimonial/marbutt.jpg">
          <div class="tweet-details">
              <div class="tweet-name">Jonathan Marbutt</div>
              <div class="tweet-handle">@jmarbutt</div>
          </div>
      </div>
      <div class="tweet-content">
        Over the years I have always used so many OSS but never been able to jump into communities (not for trying) or <span class="hi">never felt as welcomed</span> as I have in communities of 
        @nhostio @HasuraHQ @remix_run @gurucodes_dev. They all should be very proud of what they have built. </div>
    </div>

  </div>

</div> -->

<hr>


<h2 class="text-center home-heading"><span class="text-italic gradient-text">Extraordinary </span> Code Tutorials</h2>
<h4 class="home-sub-heading text-center">Fast-paced software dev content you'll actually enjoy watching</h4>


  {{ range first 1 (where site.RegularPages "Type" "in" "lessons") }}

  <div class="row row-max-1">

      <div class="card card-lesson">
        {{ partial "lesson-image.html" . }}
        <div class="card-content">

        <a href="{{ .RelPermalink }}">
            <h3>{{ .Title }}</h3>
        </a>

        <p>{{ .Params.description }}</p>

        {{ partial "tags.html" .  }}

        </div>
    </div>
  </div>

  {{ end }}

<div class="row-max-3 course-description">
  {{ range first 6 (where site.RegularPages "Type" "in" site.Params.mainSections) }}

  {{ partial "lesson-card" . }}

  {{ end }}

</div>

<div class="text-center" style="margin: 5rem 0">
  <h2 class="home-heading">Multiple Learning Formats</h2>
<h4 class="home-sub-heading text-center">Content for complete beginners and experienced engineers</h4>
  <a href="/courses" class="btn btn-purple-outline btn-lg">Full Courses</a>
  <a href="/lessons" class="btn btn-green-outline btn-lg">Single Lessons</a>
  <a href="/snippets" class="btn btn-blue-outline btn-lg">Quick Snippets</a>
</div>

<hr>


<div class="row row-home course-description">
    <section class="flex-center">
      <a href="/about"
        ><img class="gde-logo"
          src="/img/hero-image.webp" onerror="this.onerror=null; this.src='/img/hero-image.webp'"
          alt="Vasanta Kumar"
      /></a>
    </section>
    <section>
      <h2>
        🎙️ Your Host
      </h2>
      <p>
        Hi, I'm <code class="hi-gradient">Vasanta Kumar</code> and the only thing I know is that I know nothing. I've been building software for over 1 year and started this project with a simple mission... 👉 create practical
        content that <strong>increases developer happiness and productivity</strong> 🚀 
      </p>

      <p>📜 <a href="/mission">GuruCodes Manifesto</a></p>
    </section>
  </div>

  
  {{ partial "footer.html" .  }}

{{ end }}

